<html>
	<head>
    	<title>add_file</title>
  	</head>

	<body>
		
		<div class="container">
			<h1>add_file</h1>
			<form method="post" action="/attach/upload" enctype="multipart/form-data">
				<div class="form-group">
					<label>附件：</label>
					<input type="file" class="form-control" name="attachment">
				</div>
				<button type="submit" class="btn btn-default">添加</button>
			</form>
		</div>

		<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
	</body>
</html>